body {
  margin: 0;
  font-family: Poppins;
  font-size: 1.5rem;
}

h2 {
  font-size: 3rem;
  border-bottom: 1px solid #bdbdbd;
}

#app {
  display: flex;
  height: 100vh;
}

#listsection {
  width: 20%;
  border-right: 1px solid #bdbdbd;
  padding: 2rem;
  background-color: white;
}

#tasks-section {
  flex: 1;
  padding: 2rem;
  background-color: #eaefef;
}

ul {
  list-style: none;
  padding: 0;
}

#add-list-btn,
#add-task-btn {
  background-color: #bfc9d1;
  border: 1px solid #bdbdbd;
  border-radius: 15px;
  padding: 0.8rem;
  font-size: 1.5rem;
  font-family: Poppins;
}

.task-done span {
  text-decoration: line-through;
  opacity: 0.6;
}

#tasks li {
  background-color: white;
  border-radius: 5px;
  margin: 0.15rem;
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

#lists li {
  margin: 0.15rem;
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid #bdbdbd;
}
