:root {
  --add-button-c: #7aaace;
  --add-button-hover-c: #355872;
  --list-section-c: #f7f8f0;
  --task-section-c: #9cd5ff;
  --tasks-c: #f7f8f0;
  --devider-c: #355872;
  --text-c: #000000;
}

body.dark {
  --add-button-c: #4f8fbf;
  --add-button-hover-c: #7bb6e3;

  --list-section-c: #1e2933;
  --task-section-c: #0f1720;

  --tasks-c: #27313b;

  --devider-c: #3b82b6;
  --text-c: #e5e7eb;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: var(--text-c);
}

h2 {
  font-size: 3rem;
}

#app {
  display: flex;
  height: 100vh;
}

#listsection {
  width: 250px;
  border-right: 1px solid var(--devider-c);
  padding: 2rem;
  background-color: var(--list-section-c);
}

#tasks-section {
  flex: 1;
  padding: 2rem;
  background-color: var(--task-section-c);
}

.tasks-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--devider-c);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0px;
}

button {
  cursor: pointer;
}

/* =========================
   ADD-BUTTONS
   ========================= */

#add-list-btn,
#add-task-btn {
  background: var(--add-button-c);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  margin: 2.5rem 0 2.5rem 0;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

#add-list-btn:hover,
#add-task-btn:hover {
  background: var(--add-button-hover-c);
  transform: translateY(-1px);
}

#add-list-btn:active,
#add-task-btn:active {
  transform: translateY(0);
}

.task-done span {
  text-decoration: line-through;
  opacity: 0.6;
}

/* =========================
   DELETE BUTTONS
   ========================= */

.delete-btn {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--devider-c);
  display: flex;
  align-items: center;
}

.delete-btn:hover {
  color: #ef4444;
}

.delete-btn svg {
  transition:
    transform 0.15s ease,
    color 0.15s;
}

.delete-btn:hover svg {
  transform: scale(1.15);
}

/* =========================
   TASKS
   ========================= */

#tasks li {
  background: var(--tasks-c);
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 0.75rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;

  min-height: 3rem;

  transition:
    transform 120ms ease,
    box-shadow 120ms ease,
    border-color 120ms ease;
}

#tasks li:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  border-color: rgba(0, 0, 0, 0.12);
}

/* =========================
   LISTS
   ========================= */

#lists li {
  margin: 0.15rem;
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  background: var(--task-section-c);
  transition:
    transform 120ms ease,
    box-shadow 120ms ease,
    border-color 120ms ease;
}

#lists li:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  border-color: rgba(0, 0, 0, 0.12);
}

/* =========================
   CHECKBOXES
   ========================= */

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;

  width: 18px;
  height: 18px;
  border: 2px solid var(--devider-c);
  border-radius: 50%;
  display: inline-grid;
  place-content: center;
  cursor: pointer;
}

/* wenn gecheckt */
input[type="checkbox"]:checked {
  border-color: var(--add-button-hover-c);
}

/* der „Punkt“ innen */
input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  background: var(--add-button-hover-c);
  transition: transform 120ms ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* =========================
   Inputs
   ========================= */

.task-input,
.list-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  background: transparent;
  color: var(--text-c);
}

.task-input::placeholder,
.list-input::placeholder {
  color: var(--text-c);
}

#tasks li:has(.task-input) {
  border: 2px solid var(--devider-c);
}

#lists li:has(.list-input) {
  border: 2px solid var(--devider-c);
}

/* =========================
   Darkmodebutton
   ========================= */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: var(--add-button-c);
  border-radius: 34px;
  transition: 0.25s;
  cursor: pointer;
}

.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  top: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.25s;
}

input:checked + .slider {
  background-color: var(--add-button-hover-c);
}

input:checked + .slider::before {
  transform: translateX(24px);
}
