body {
  margin: 0;
  font-family: Poppins;
  font-size: 1.5rem;
}

h2 {
  font-size: 3rem;
  border-bottom: 1px solid #bdbdbd;
}

#app {
  display: flex;
  height: 100vh;
}

#listsection {
  width: 20%;
  border-right: 1px solid #bdbdbd;
  padding: 2rem;
  background-color: white;
}

#tasks-section {
  flex: 1;
  padding: 2rem;
  background-color: #eaefef;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

/* =========================
   ADD-BUTTONS
   ========================= */

#add-list-btn,
#add-task-btn {
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  font-size: 1.3rem;
  font-family: "Poppins";
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

#add-list-btn:hover,
#add-task-btn:hover {
  background: #2563eb;
  transform: translateY(-1px);
}

#add-list-btn:active,
#add-task-btn:active {
  transform: translateY(0);
}

.task-done span {
  text-decoration: line-through;
  opacity: 0.6;
}

/* =========================
   DELETE BUTTONS
   ========================= */

.delete-btn {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  color: #6b7280;
  display: flex;
  align-items: center;
}

.delete-btn:hover {
  color: #ef4444;
}

.delete-btn svg {
  transition:
    transform 0.15s ease,
    color 0.15s;
}

.delete-btn:hover svg {
  transform: scale(1.15);
}

/* =========================
   TASKS
   ========================= */

#tasks li {
  background-color: white;
  border-radius: 5px;
  margin: 0.15rem;
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

/* =========================
   LISTS
   ========================= */

#lists li {
  margin: 0.15rem;
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  border-bottom: 1px solid #bdbdbd;
  cursor: pointer;
}

#lists li:hover {
  background: #f3f4f6;
}

/* =========================
   CHECKBOXES
   ========================= */

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;

  width: 18px;
  height: 18px;
  border: 2px solid #999;
  border-radius: 50%;
  display: inline-grid;
  place-content: center;
  cursor: pointer;
}

/* wenn gecheckt */
input[type="checkbox"]:checked {
  border-color: #2563eb;
}

/* der „Punkt“ innen */
input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  background: #2563eb;
  transition: transform 120ms ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
